* {

font-family: 'Roboto', sans-serif;
font-size: 15px;
box-sizing: border-box;

}

.navbar-container{
  height: 87px;
  background-color:  #00BFDB;
  top: 0;
  
}

.wrapper{

  padding: 10px 20px;  
  display: flex;
  justify-content: space-between;

}
#left-nav{
  flex: 1;

}
#center-nav{
  flex: 1;
  text-align:center;
  font-weight: bold;
}
#center-nav.h1{

  text-align:center;
  margin-top: 10px;
}
#right-nav{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

div.register-form{
  width: 410px;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  border-radius: 20px;
  margin: 50px auto;
  background: linear-gradient(0deg, aqua, rgb(151, 12, 190));
  color: #ebebeb;
  

}
.login-form{
  width: 350px;
  justify-content: center;
  align-items: center;
  padding: 25px 30px;
  border-radius: 20px;
  margin: 70px auto;
  background: linear-gradient(0deg, aqua, rgb(151, 12, 190));
 
}

button#register-btn{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70px;
  height: 35px;
  max-width: 600px;
  margin-top: 0.5em;
  
}
button#login-btn{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70px;
  height: 35px;
  max-width: 600px;
  margin-top: 1em;
}

a#register-link{
  margin: 3.5em;
}
a#login-link{
  margin-top: 3em;
}

button#account-icon{
  color: #ebebeb;
}

div#slide{
  height: 300px;
  background-repeat: no-repeat;
  width: 60%;
  justify-content: center;
  justify-items: center;
  margin: 30px auto;
    
} 
.slide-container{
  width: 800px;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  
}
#register-form-title{
  text-align: center;
  font-weight: bold;
  margin: 0.5em;

  
}
#login-form-title{
  text-align: center;
  font-weight: bold;

}
#cart-icon{
  margin-top: 1.2em;
  font-size:xx-large ;
  color: #ebebeb;
  margin-left: 10px;
  
}

#cart-icon:hover{
  color:greenyellow;
}

h1.nav-title{
  margin-top: 9px;
  font-family:fantasy;
  color: white;
  font-size:40px;  
    
}

div.footer {
    background: #000000;
    color: #ebebeb;
    padding: 8px 0;
    text-align: center;
    font-weight: 100;
    bottom: 0;
    margin-bottom: 1px;
    width: 100%;

}
#menu-item {
    text-transform: uppercase;
    margin-top: 20px;
    display: inline-flex;
    color: #ebebeb;
    text-decoration: none;
    list-style: none;
    padding: 2px 20px;
    font-size: 15px;   
    font-weight: 500;
}
.menu{
   background-color: #000000;
}

#menu-item:hover {
    text-decoration: underline solid greenyellow;
    color: #ebebeb;
  	border-radius: 3px;
    font-weight: 600;
}

nav.navbar {
  height: 70px;
  margin-top:20px;
}

#dropdown-basic-button{
  background-color: #000000;
  margin-top: 75px;
  
}
.logo{
  width: 95px;
  height: 87px;
  border-radius: 0px;
  top: 0px;
  left: 0px;
  position: absolute;
  
}